<% content_for :header do %>
<section class="hero is-warning" style="background: white; height:45px;">
    <div class="container">
      <h5 class="title">
        <%= t(:editing_service) %>
      </h5>
    </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', service: @service %>
</div>