<% content_for :header do %>
<section class="hero is-warning" style="background: rgb(9, 115, 223);">
    <div class="container">
      <h5 class="title">
        Offer a Service
      </h5>
    </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', service: @service %>
</div>