<% content_for :header do %>
<section class="ServiceHeader" style="background: rgb(9, 115, 223);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Offer a Service
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', service: @service %>
</div>