<% content_for :header do %>
<section class="hero is-warning" style="background: white;">
    <div class="container">
      <h5 class="title">
        <%= t(:purchasing_services) %>
      </h5>
    </div>
</section>
<% end %>

<br><br><br>
<div class="purchaseform">
    <div class="col-md-4"> 
        <div class="payment-info">
            <div class="d-flex justify-content-between align-items-center">
                <span>Card Details</span>
            </div>
            <span class="type d-block mt-3 mb-1"></span>
            
            <label class="radio">
                <input type="radio" name="card" value="payment" checked> 
                <span><img width="50" src="https://img.icons8.com/color/48/000000/mastercard.png"/></span> 
            </label>
            <label class="radio"> 
                <input type="radio" name="card" value="payment"> 
                <span><img width="50" src="https://img.icons8.com/officel/48/000000/visa.png"/></span> 
            </label>
            <label class="radio"> 
                <input type="radio" name="card" value="payment"> 
                <span><img width="50" src="https://img.icons8.com/ultraviolet/48/000000/amex.png"/></span> 
            </label>
            <label class="radio"> 
                <input type="radio" name="card" value="payment"> 
                <span><img width="50" src="https://img.icons8.com/officel/48/000000/paypal.png"/></span> 
            </label>
            <div>
                <label class="credit-card-label">Name On Card</label>
                <br>
                <input type="text" class="form-control credit-inputs" placeholder="Name">
            </div>
            <div>
                <label class="credit-card-label">Card Number</label>
                <br>
                <input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="credit-card-label">Expiry Date</label>
                    <br>
                    <input type="text" class="form-control credit-inputs" placeholder="12/24">
                </div>
                <div class="col-md-6">
                    <label class="credit-card-label">CVV</label>
                    <br>
                    <input type="text" class="form-control credit-inputs" placeholder="342">
                </div>
            </div>
            <hr class="line">
                <div class="d-flex justify-content-between information">
                    <span>Subtotal:</span>
                    <span><%= number_to_currency(@cart.total_price) %></span>
                </div>
                <div class="d-flex justify-content-between information">
                    <span>Shipping:</span>
                    <span>$20.00</span>
                </div>
                <div class="d-flex justify-content-between information">
                    <span>Total(Incl. taxes):</span>
                    <span><%= number_to_currency(@cart.total_price + 20) %></span>
                </div>
                <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button">
                    <span>Checkout<em class="fa fa-long-arrow-right ml-1"></em></span>
                </button>
            </div>
        </div>
    </div>
</div>

<style>

  .purchaseform {
    display: flex;
    align-items: center;
    justify-content: center;
    align: center;
    flex-wrap: wrap;
  }

  .payment-info {
    background: #1b3d6e;
    padding: 14px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
  }
  
  .product-details {
    padding: 10px;
  }
  
  
  .cart {
    background: #fff;
  }
  
  .p-about {
    font-size: 12px;
  }
  
  
  .table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  }
  
  .type {
    font-weight: 400;
    font-size: 10px;
  }
  
  label.radio {
    padding: 2px;
    cursor: pointer;
  }
  
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    padding: 2px 12px;
    border: 1px solid #ffffff8a;
    display: inline-block;
    border-radius: 1px;
  }
  
  label.radio input:checked + span {
    border-color: #fff;
    background-color: rgb(18, 18, 47);
    color: #fff;
  }
  
  .credit-inputs {
    background: rgb(102,102,221);
    color: #fff !important;
    border-color: rgb(102,102,221);
  }
  
  .credit-inputs::placeholder {
    color: rgba(197, 176, 176, 0.734);
    font-size: 16px;
  }
  
  .credit-card-label {
    font-size: 16px;
    font-weight: 400;
  }


  .form-control.credit-inputs {
    width: 330px;
  }
  
  .form-control.credit-inputs:focus {
    background: rgb(102,102,221);
    border: rgb(102,102,221);
  }
  
  .line {
    border-bottom: 2px solid #0c151c;
  }
  
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
  }
  

  .spec {
    font-size: 11px;
  }

  .d-flex.justify-content-between.align-items-center {
    font-size: 30px;
  }

  /* button {
    transition:
      background-color 0.1s linear,
      border-color 0.1s linear,
      color 0.1s linear,
      box-shadow 0.1s linear,
      transform 0.1s ease;
    transition:
      background-color var(--animation-duration) linear,
      border-color var(--animation-duration) linear,
      color var(--animation-duration) linear,
      box-shadow var(--animation-duration) linear,
      transform var(--animation-duration) ease;
  } */
</style>