<nav class="navbar" role="navigation" aria-label="main navigation" style=" background: rgb(123, 144, 245); position: fixed; bottom: 0; width: 100%; height: 40px;">
  <div class="navbar-brand">
      <h1 class="title is-5" style="margin-left:10px;">
        <div class="navbar-item">
          <span class="icon is-small">
          <em class="fa fa-phone"></em>
        </span>
        <div style="margin-left:10px;">K-BOT</div>
      </h1>
  </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-front">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <%= link_to(locale: :ka) do %>
            <img width=30 class="c-icon ms-3 mt-2" src="https://cdn.countryflags.com/thumbs/georgia/flag-400.png">  
          <% end  %>
        </div>
        </div>
        <div class="navbar-item">
          <%= link_to(locale: :en) do %>
            <img width=30 class="c-icon ms-3 mt-2" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png">  
          <% end  %>
        </div>
      </div>
  </div>
</nav>

<i class="bi bi-telephone-inbound-fill"></i>